<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oppertunity Hunter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='fevicon.ico') }}">


    <!-- Page-specific CSS -->
    {% block head %}{% endblock %}
    <script src="/static/script.js" defer></script>
</head>







<body>
    <div class="navbar">
        <a href="/" class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Job Hunt Logo" class="logo-image">
        </a>
        <button class="nav-toggle" onclick="toggleNav()">☰</button>
        <div class="nav-links" id="nav-links">

            <button onclick="toggleDarkMode()" class="dark-toggle" title="Toggle Dark Mode">
                🌓
            </button>

            <a href="{{ url_for('index') }}">Home</a>

            <a href="{{ url_for('about') }}">About</a>

            <a href="{{ url_for('contact') }}">Contact</a>
            <!-- <a href="{{ url_for('login') }}">Login</a> -->
            <!-- <a href="{{ url_for('signup') }}">Signup</a> -->
        </div>
    </div>

    <!-- Main Content Block -->
    <div class="content">
        {% block content %}

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="flash-message flash-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}


        {% endblock %}


        

    </div>

    <footer class="footer">
        <div class="footer-container">
            <p>&copy; {{ current_year }} Oppertunity Hunter!! All rights reserved.</p>
            <div class="footer-links">
                <!-- <a href="#career">Career</a> -->
                <a href="{{ url_for('about') }}">About</a>

                <a href="{{ url_for('contact') }}">Contact</a>

                <a href="{{ url_for('privacy') }}">Privacy Policy</a>

            </div>
            <div class="social-icons">
                <a href="https://www.linkedin.com/company/genres-learning" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://chat.whatsapp.com/DaL3JBJksmk1ARu6C3wWOZ" target="_blank"><i
                        class="fab fa-whatsapp"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://t.me/+_yrgP13CpbtjMzc1" target="_blank"><i class="fab fa-telegram"></i></a>
            </div>
        </div>
    </footer>

    <script>
        function toggleNav() {
            const nav = document.getElementById('nav-links');
            nav.classList.toggle('active');
        }
    </script>
</body>

</html>