<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <title>Job Hunt</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="/static/script.js" defer></script>
</head>
<body>
  <div class="navbar">
    <a href="/" class="logo">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="Job Hunt Logo" class="logo-image">
    </a>
    <button class="nav-toggle" onclick="toggleNav()">☰</button>
    <div class="nav-links" id="nav-links">
      <a href="#career">Career</a>
      <a href="#about">About</a>
      <a href="#login" onclick="showLoginOptions()">Login</a>
      <a href="#signup">Signup</a>
    </div>
  </div>

  <!-- <div id="login-options" class="login-options hidden">
    <button onclick="window.location.href='user_login.html'">Login as User</button>
    <button onclick="window.location.href='admin_login.html'">Login as Admin</button>
  </div> -->

  <div>
    <img src="{{ url_for('static', filename='photo.jpeg') }}" class="main_image" alt="">
  </div>

  <h1>Job Listings</h1>
<div class="job-card-container">
  
     {% for id, job in jobs.items() %}
     
     <div class="job-card">
         <h2>{{id}} : {{ job.role }} </h2>
         <p><strong>Company:</strong> {{ job.company }}</p>
         <p><strong>Package:</strong> {{ job.package }}</p>
         <p><strong>Experience:</strong> {{ job.experience }}</p>
         <p><strong>Location:</strong> {{ job.location }}</p>
         <!-- <p><strong>Description:</strong> {{ job.description }}</p>
         <p><strong>Responsibilities:</strong> {{ job.responsibilities }}</p> -->
         <p><strong>Skills Required:</strong> {{ job.skills }}</p>
         <p><strong>Education:</strong> {{ job.education }}</p>
         <a href="/jobs/{{ id }}" class="apply-btn" target="_blank" rel="noopener noreferrer">Apply</a>
     </div>
    
     {% endfor %}

    </div>

    
</body>
<footer class="footer">
  <div class="footer-container">
    <p>&copy; {{ current_year }} Oppertunity Hunter!! All rights reserved.</p>
    
    <div class="footer-links">
      <a href="#career">Career</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
      <a href="#privacy">Privacy Policy</a>
    </div>

    <div class="social-icons">
      <a href="https://www.linkedin.com/company/genres-learning/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
      <a href="https://chat.whatsapp.com/DaL3JBJksmk1ARu6C3wWOZ" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp"></i></a>
      <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
      <a href="https://t.me/+_yrgP13CpbtjMzc1" target="_blank" rel="noopener noreferrer"><i class="fab fa-telegram"></i></a>
    </div>
  </div>
</footer>


</html>