{% extends "base.html" %}

{% block content %}
    
    <div>
        <img src="{{ url_for('static', filename='photo.jpeg') }}" class="main_image" alt="">
      </div>
      <h1>Welcome to Oppertunity Hunter</h1>
    <p>Your gateway to exciting career opportunities!</p>
    
      <!-- <h1>Job Listings</h1> -->
    <div class="job-card-container">
      {% for job in jobs %}
    
    <div class="job-card">
        <h2> {{ job['role'] }} </h2>
        <p><strong>Company:</strong> {{ job['company'] }}</p>
        <p><strong>Package:</strong> {{ job['package'] }}</p>
        <p><strong>Experience:</strong> {{ job['experience'] }}</p>
        <p><strong>Location:</strong> {{ job['location'] }}</p>
        <!-- <p><strong>Description:</strong> {{ job['description'] }}</p>
        <p><strong>Responsibilities:</strong> {{ job['responsibilities'] }}</p> -->
        <p><strong>Skills Required:</strong> {{ job['skills'] }}</p>
        <p><strong>Education:</strong> {{ job['education'] }}</p>
        <a href="/jobs/{{ job['_id'] }}" class="apply-btn" target="_blank" rel="noopener noreferrer">Apply</a>
    </div>
    
    {% endfor %}
    
    
        </div>
{% endblock %}
