{% extends "base.html" %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='job_cards.css') }}">
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="flash-message flash-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}



<h1>Job Details</h1>

<div class="job">
    <h2>{{ role }}</h2>
    <p><strong>Company:</strong> {{ company }}</p>
    <p><strong>Package:</strong> {{ package }}</p>
    <p><strong>Experience:</strong> {{ experience }}</p>
    <p><strong>Location:</strong> {{ location }}</p>
    <p><strong>Description:</strong> {{ description }}</p>
    <p><strong>Responsibilities:</strong> {{ responsibilities }}</p>
    <p><strong>Skills Required:</strong> {{ skills }}</p>
    <p><strong>Education:</strong> {{ education }}</p>
    <a href="{{ link }}" class="apply-btn" target="_blank" rel="noopener noreferrer">Apply</a>
</div>
{% endblock %}
