<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/static/script.js" defer></script> -->
<!-- </head> -->
<body>
    <form action="/admin" enctype="multipart/form-data" method="POST">
        id : <input type="text" name="id" placeholder="1"/> 
    <br><br>
    role: <input type="text" name="role" placeholder="Software Engineer"/> 
    <br><br>
    "company": <input type="text" name="company" placeholder="company"> 
    <br><br>
    "package": <input type="text" name="package" placeholder="Software Engineer"> 
    <br><br>
    "experience": <input type="text" name="experience" placeholder="Software Engineer"> 
    <br><br>
    "location": <input type="text" name="location" placeholder="Software Engineer"> 
    <br><br>
    "description": <input type="text" name="description" placeholder="Software Engineer"> 
    <br><br>
    "responsibilities": <input type="text" name="responsibilities" placeholder="Software Engineer"> 
    <br><br>
    "skills": <input type="text" name="skills" placeholder="Software Engineer"> 
    <br><br>
    "education": <input type="text" name="education" placeholder="Software Engineer"> 

    <br>
    <br>
    "Link": <input type="text" name="link" placeholder="https://"> 

    <br>
    <br>

    <input type="submit">
    </form>
</body>
<!-- </html> -->